<%= form_with(model: event_occurrence) do |form| %>
  <% if event_occurrence.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event_occurrence.errors.count, "error") %> prohibited this event_occurrence from being saved:</h2>

      <ul>
        <% event_occurrence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :event_id, style: "display: block" %>
    <%= form.text_field :event_id %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.datetime_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.datetime_field :end_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
