<div id="<%= dom_id visit %>">
  <p>
    <strong>Event occurrence:</strong>
    <%= visit.event_occurrence_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= visit.contact_id %>
  </p>

  <p>
    <strong>Checked in at:</strong>
    <%= visit.checked_in_at %>
  </p>

  <p>
    <strong>Checked out at:</strong>
    <%= visit.checked_out_at %>
  </p>

  <p>
    <strong>Checked in by user:</strong>
    <%= visit.checked_in_by_user %>
  </p>

  <p>
    <strong>Checked out by user:</strong>
    <%= visit.checked_out_by_user %>
  </p>

  <p>
    <strong>State:</strong>
    <%= visit.state %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= visit.barcode %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= visit.notes %>
  </p>

  <p>
    <strong>Barcode disabled by user:</strong>
    <%= visit.barcode_disabled_by_user_id %>
  </p>

  <p>
    <strong>Barcode disabled at:</strong>
    <%= visit.barcode_disabled_at %>
  </p>

  <p>
    <strong>Barcode disabled:</strong>
    <%= visit.barcode_disabled %>
  </p>

</div>
