<div id="<%= dom_id event %>">
  <p>
    <strong>Subject:</strong>
    <%= event.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= event.group_id_id %>
  </p>

  <p>
    <strong>Locationable:</strong>
    <%= event.locationable_id_id %>
  </p>

  <p>
    <strong>Special instructions:</strong>
    <%= event.special_instructions %>
  </p>

  <p>
    <strong>Rrule data:</strong>
    <%= event.rrule_data %>
  </p>

  <p>
    <strong>String:</strong>
    <%= event.string %>
  </p>

</div>
