<div id="<%= dom_id address %>">
  <p>
    <strong>Addressable:</strong>
    <%= address.addressable_id %>
  </p>

  <p>
    <strong>Street1:</strong>
    <%= address.street1 %>
  </p>

  <p>
    <strong>String2:</strong>
    <%= address.string2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= address.province %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= address.zip %>
  </p>

  <p>
    <strong>Time zone:</strong>
    <%= address.time_zone %>
  </p>

</div>
