<p style="color: green"><%= notice %></p>

<%= render @lease %>

<div>
  <%= link_to "Edit this lease", edit_lease_path(@lease) %> |
  <%= link_to "Back to leases", leases_path %>

  <%= button_to "Destroy this lease", @lease, method: :delete %>
</div>
