<p style="color: green"><%= notice %></p>

<%= render @event_guest %>

<div>
  <%= link_to "Edit this event guest", edit_event_guest_path(@event_guest) %> |
  <%= link_to "Back to event guests", event_guests_path %>

  <%= button_to "Destroy this event guest", @event_guest, method: :delete %>
</div>
