<div id="<%= dom_id visitor_type %>">
  <p>
    <strong>Building:</strong>
    <%= visitor_type.building_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= visitor_type.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= visitor_type.category %>
  </p>

  <p>
    <strong>Hide barcode:</strong>
    <%= visitor_type.hide_barcode %>
  </p>

</div>
